@use "./variables" as *;

main {
    background-color: $clr_primary;

    .container-lg {

        padding: 50px 30px;

        .search_section {
            height: 100;
            margin-bottom: 30px;
        }

        .main_section {
            background-color: $clr_total_light;

            // .hourglass_container i {
            //     font-size: 25px;
            //     color: white;
            // }

            .hourglass2 {
                animation: spin 1s linear infinite;
                font-size: 25px;
            }

            .counter_card {
                background-color: $clr_counter;
                color: $clr_total_light;
                padding: 10px 10px;
            }

            .row {

                .col {

                    margin: 20px 0;
                    justify-content: center;
                    align-items: center;




                    .single_card {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        flex-direction: column;
                        border: 1px solid black;
                        background-color: $clr_primary;
                        padding: 10px 0;

                        .img_container {
                            height: 100%;

                            img {
                                object-fit: contain;
                                height: 300px;
                                width: 150px;
                            }

                        }

                        .title {
                            color: white;
                            font-weight: bold;
                            font-size: 16px;
                            word-wrap: break-word;
                        }
                    }
                }
            }
        }
    }
}

/* ANIMATION  */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);

    }

    100% {
        transform: rotate(180deg);

    }
}